@charset "utf-8";
body {
	font-family: "verdana", "Arial", "Helvetica";
	margin: 20px;
	background-image: url(../images/tree.jpg), url(../images/sky_bg.jpg);
	background-repeat: repeat-x, repeat-x;
	background-position: center bottom, center top;
}
#wrapper {
	padding-right: 0px;
	padding-left: 0px;
}
h1, h3, p {
	text-align: center;
}
#main {
	width: 75%;
	max-width: 750px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
	margin-bottom: 60px;
}
footer  {
	margin-top: 60px;
	padding-top: 25px;
	padding-bottom: 25px;
	background-color: #99EF6A;
	text-align: center;
}
.navbar, .navbar-default {
	border-width: 0px;
	border-radius: 0px;
	background-color: #86AED3;
	margin-top: 20px;	
}
li a {
	font-size: 16px;
}

.image-fill {
	width: 100%;
}
.jumbotron {
	background-color:#99cc99;
	color:#006666;
}

img.twenty-five-percent{
width: 25%;
}
